.nav-scroller {
  padding-top: 10px;
   text-decoration-color: black;
   font-size: 18px;
   background-color: white;

}

.blog-header-logo {
  font-size: 25px;
  color: black
}

.blog-footer {

  padding-top: 10px;
  text-align: center;
}

.btn-primary {
	box-shadow: 0 3px 0 0 #007299;
  background-color: #686c72;
  color: white!important;

}

 
